﻿
@{
    ViewBag.Title = "Chat";
    if (Session["LoginNutritionist"] != null)
    {
        Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
    }
    else if (Session["LoginPatient"] != null)
    {
        Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    }

}

<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">
        <h1 class="sr-only">Dashboard</h1>

        <div class="dashboard-section no-margin">

            <div class="panel-content">
                <h2 class="section-title" > Message</h2>
                <div class="row">
                    <div class="left">
                        <div class="panel-content">

                            <div class="form-group">
                                <input type="text" id="message" class="form-control" />
                                <input type="button" id="sendmessage" value="Send" class="btn btn-primary" />
                                <input type="hidden" id="displayname" value="@Session["ChatName"].ToString()" />
                                <ul id="discussion"></ul>
                            </div>
                            @section scriptschat {
                                <!--Script references. -->
                                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                                <!--Reference the SignalR library. -->
                                <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
                                <!--Reference the autogenerated SignalR hub script. -->
                                <script src="~/signalr/hubs"></script>
                                <!--SignalR script to update the chat page and send messages.-->
                                <script>
                                    $(function () {
                                        // Reference the auto-generated proxy for the hub.
                                        var chat = $.connection.chatHub;
                                        var current = new Date();
                                        // Create a function that the hub can call back to display messages.
                                        chat.client.addNewMessageToPage = function (name, message) {
                                            // Add the message to the page.
                                            $('#discussion').append('<li><strong>' + htmlEncode(name)
                                                + '</strong> : ' + htmlEncode(message) + '<sub>' + current.toLocaleString() + '</sub> </li>');
                                        };
                                        // Get the user name and store it to prepend to messages.
                                        //$('#displayname').val(prompt('Enter your name:', ''));
                                        $('#displayname').focus();
                                        // Set initial focus to message input box.
                                        $('#message').focus();
                                        // Start the connection.
                                        $.connection.hub.start().done(function () {
                                            $('#sendmessage').click(function () {
                                                // Call the Send method on the hub.
                                                chat.server.send($('#displayname').val(), $('#message').val());
                                                // Clear text box and reset focus for next comment.
                                                $('#message').val('').focus();
                                            });
                                        });
                                    });
                                    // This optional function html-encodes messages for display in the page.
                                    function htmlEncode(value) {
                                        var encodedValue = $('<div />').text(value).html();
                                        return encodedValue;
                                    }
                                </script>
                            }
                        </div>
                    </div>
                    </div>
                </div>

        </div>
    </div>
    <!-- END SOCIAL -->
</div>



