﻿
@model IEnumerable<E_Nutriton.Models.tbl_nutritionist>

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: false);
}
<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">Select Your Nutritionist </h1>
        </div>
        <table class="table">
            <tr>

                <th>
                    Profile Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@Url.Content(item.picture)" style="width:144px;height:144px;" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)   @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <button class="btn-default btn-sm pull-right" data-target="#loginModal" data-toggle="modal" @Html.ActionLink("Select", "Select", new { id = item.id_nutritionist })>></button>
                </td>
            </tr>
            }

        </table>

    </div>
    <!--untuk popup-->
    <div class="modal fade" data-keyboard="false" tabindex="1" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>

            </div>
        </div>
    </div>

    <button type="button" class="btn btn-outline-warning">
        @Html.ActionLink("Back", "MyProfile", "DashboardPatient")
    </button>
</div>
