﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    Welcome @HttpContext.Current.User.Identity.Name

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id= "logoutForm"}))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }
</body>
</html>
