﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Nutrition - Home Nutrition Controller For Covid 19 Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Fontawesome -->
    @Styles.Render("~/Contenting1/css")
    @Styles.Render("~/Vendoring1/css")
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
    <!-- Swipe CSS -->
    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
</head>
<body>
    <header class="header-global" id="home">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
            <div class="container position-relative">
                <a class="navbar-brand mr-lg-4" href="">

                    <img class="navbar-brand-light" src=@Url.Content("~/img/logo2.png") alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src=@Url.Content("~/img/logo.png") alt="Logo dark">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item">
                            <a href="#about" class="nav-link">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#faq" class="nav-link">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <span class="d-inline-block text-center">
                        <button type="button" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                            @Html.ActionLink("Login Nutritionist", "Login", "User")<i class="fas fa-heartbeat ml-2"></i>
                        </button>
                    </span>
                    <span class="d-inline-block text-center">
                        <button type="button" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                            @Html.ActionLink("Login Patient ", "Login", "Patient")<i class="fas fa-user ml-2"></i>
                        </button>
                    </span>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <!-- Hero -->
        <section class="section section-header text-dark pb-md-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
                        <h5 class="display-2 font-weight-bolder mb-4">
                            E-Nutrition
                        </h5>

                        <p class="lead mb-4 mb-lg-5">Home Nutrition Controller For Covid-19 Patient.</p>
                        <br />   <br />
                        Don't have an account ? Register Now
                        <div>
                            <a href="~/Patient/Registration" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                                <span class="d-flex align-items-center">
                                    <span class="icon icon-brand mr-2 mr-md-3"><span class="fas fa-user ml-2"></span></span>
                                    <span class="d-inline-block text-left">
                                        <small class="font-weight-normal d-none d-md-block">Click Here for </small> Patien
                                    </span>
                                </span>
                            </a>
                            <a href="~/User/Registration" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                                <span class="d-flex align-items-center">
                                    <span class="icon icon-brand mr-2 mr-md-3"><span class="fas fa-heartbeat ml-2"></span></span>
                                    <span class="d-inline-block text-left">
                                        <small class="font-weight-normal d-none d-md-block">Click Here for </small> Nutritionist
                                    </span>
                                </span>
                            </a>

                        </div>
                    </div>
                    <div class="col-12 col-md-10 justify-content-center">
                        <img src=@Url.Content("~/img/ag.png") alt="Logo dark">
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg" id="about">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-7">
                    <div class="col-12 col-lg-8 text-center">
                        <h2 class="h1 mb-4">About E-Nutrition</h2>
                        <p class="lead">
                            E-nutrition is a very useful application, this application is specifically designed for Covid patients who are doing independent isolation who find it difficult to control nutritional intake,
                        </p>
                    </div>
                </div>
                <div class="row row-grid align-items-center mb-5 mb-lg-7">
                    <div class="col-12 col-lg-5">
                        <h2 class="mb-4">Why should you use the E-Nutrition application?</h2>
                        <p>By using this application you can easily manage your daily nutritional intake.</p>
                        <p>
                            And of course, you will be guided by experienced nutritionists
                        </p>

                    </div>
                    <div class="col-12 col-lg-6 ml-lg-auto">
                        <img src=@Url.Content("~/img/covid.jpg") alt="Logo dark">
                    </div>
                </div>
                <div class="row row-grid align-items-center mb-5 mb-lg-7">
                    <div class="col-12 col-lg-5 order-lg-2">
                        <h2 class="mb-4"> What benefits do you get?
                        </h2>
                        <p>This application provides several interesting features, one of which you can consult directly with a nutritionist, where later a nutritionist will help you if you find it difficult to manage your nutritional intake.</p>
                    </div>
                    <div class="col-12 col-lg-6 mr-lg-auto">
                        <img src=@Url.Content("~/img/control.jpg") alt="Logo dark">
                    </div>
                </div>
        </section>
        <section class="section section-lg" id="faq">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-12 text-center mb-4 mb-lg-5">
                        <h2 class="display-3 mb-4">Facts & Questions</h2>
                        <p class="lead">Have a question? Read through our FAQ below. If you can't find an answer, <br class="d-none d-lg-inline-block"> please email our support team. We're here to help.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <!--Accordion-->
                        <div class="card border-light mb-0">
                            <style>
                                .accordion {
                                    background-color: #eee;
                                    color: #444;
                                    cursor: pointer;
                                    padding: 18px;
                                    width: 100%;
                                    border: none;
                                    text-align: left;
                                    outline: none;
                                    font-size: 15px;
                                    transition: 0.4s;
                                }

                                    .active, .accordion:hover {
                                        background-color: #ccc;
                                    }

                                .panel {
                                    padding: 0 18px;
                                    background-color: white;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: max-height 0.2s ease-out;
                                }
                            </style>
                           
                            <button class="accordion">
                                Can this application be used by public people (not covid-19 patients)?
                            </button>
                            <div class="panel">
                                <p>
                                    For now the E-Nutrition application is only intended for Covid-19 patients only
                                </p>
                            </div>

                            <button class="accordion">Whether the use of this application is charged ?</button>
                            <div class="panel">
                                <p>You will not be charged at all, you can use this application without paying a fee.</p>
                            </div>

                            <button class="accordion">
                                I did not find the answer to my question, so what should I do ?
                            </button>
                            <div class="panel">
                                <p>
                                    If you don't find the answer you are looking for in this FAQ clom, you can immediately ask it via our email, namely project.enutrition@gmail.com
                                </p>
                            </div>

                            <script>
                                var acc = document.getElementsByClassName("accordion");
                                var i;

                                for (i = 0; i < acc.length; i++) {
                                    acc[i].addEventListener("click", function () {
                                        this.classList.toggle("active");
                                        var panel = this.nextElementSibling;
                                        if (panel.style.maxHeight) {
                                            panel.style.maxHeight = null;
                                        } else {
                                            panel.style.maxHeight = panel.scrollHeight + "px";
                                        }
                                    });
                                }
                            </script>

                        </div>
                            </div>
                        </div>
                       </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer py-5 pt-lg-6 bg-soft" id="contact">

        <div class="sticky-right bg-soft">
            <a href="#home" class="icon icon-primary icon-md btn btn-icon-only btn-white border border-soft shadow-soft animate-up-3">
                <span class="fas fa-chevron-up"></span>
            </a>
        </div>
        <div class="container">
            <div class="row justify-content-between">
               
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Contact Us</span>
                    <ul class="footer-links mt-2">
                        <li> <i class="fas fa-address-book ml-2">   </i>  project.enutrition@gmail.com</a></li>
                        <li> <i class="fas fa-phone ml-2"></i> 085773799937</a></li>
                        
                    </ul>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Address Office</span>
                    <ul class="footer-links mt-2">
                        <li> <i class="fas fa-home ml-2"></i> Jakarta, Indonesia</a></li>
                    </ul>
                </div>

            </div>
            <hr class="bg-light my-2">
            <div class="row pt-2 pt-lg-5">
                <div class="col mb-md-0">

                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">Copyright ©E-Nutrition<span class="current-year">2021</span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Styles.Render("~/Scripting/js")
    @Styles.Render("~/Vendoring1/js")
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Core

    <script src="./vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./vendor/headroom.js/dist/headroom.min.js"></script>
    <!-- Vendor JS
    <script src="./vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="./vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Swipe JS -->

</body>
</html>

