﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - E-Nutrition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/VendoringMaster/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/ContentingMaster/css")

    <!-- MAIN CSS -->
    <link href="~/Content/themes/base/jquery-ui.css " />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->

        @Html.Partial("_NavTopPatient")
        <!-- END NAVBAR -->
        @Html.Partial("_NavSidePatient")
        <!-- LEFT SIDEBAR -->
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT -->
        @if (Request.IsAuthenticated)
        {
            @RenderBody();
        }

        <!-- END MAIN CONTENT -->
        <div class="clearfix"></div>
        <footer>
            <p class="copyright">&copy; 2021 E-Nutrition </p>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    @Scripts.Render("~/VendoringMaster/js")
    @Scripts.Render("~/ScriptingMaster/js")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("scripts", required: false)

    @RenderSection("scripts2", required: false)
</body>
</html>
