﻿<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title - E-Nutrition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        @Html.Partial("_NavTopAdmin")
        <!-- END NAVBAR -->
        @Html.Partial("_NavSideAdmin")
        <!-- LEFT SIDEBAR -->
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT -->
        @if (Request.IsAuthenticated)
        {
            @RenderBody();
        }

        <!-- END MAIN CONTENT -->
        <div class="clearfix"></div>
        <footer>
            <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    @Scripts.Render("~/Vendoring/js")
    @Scripts.Render("~/Scripting/js")
    @RenderSection("scriptsimg", required: false)
</body>
</html>
