﻿<div id="left-sidebar" class="sidebar">
    <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
        <span class="sr-only">Toggle Fullwidth</span>
        <i class="fa fa-angle-left"></i>
    </button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="@Url.Content(Session["Picture"].ToString())" class="img-responsive img-circle user-photo" alt="User Profile Picture" style="width:144px;height:144px;">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">Hello, <strong>@Session["FirstName"].ToString()</strong> </a>
                
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class=""><a href="@Url.Content("~/DashboardPatient/Index")"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li class=""><a href="@Url.Content("~/Daily/Index")"><i class="lnr lnr-calendar-full"></i> <span>Daily</span></a></li>
                <li class="">
                    <a href="#forms" class="has-arrow" aria-expanded="false"><i class="lnr lnr-file-empty"></i> <span>Tips and Trick</span></a>
                    <ul aria-expanded="true">
                        <li class=""><a href="@Url.Content("~/Tips/Heatly")"> <span>Healty Food</span></a></li>
                        <li class=""><a href="@Url.Content("~/Tips/Cleanstuff")"><span>Maintain a Clean</span></a></li>
                    
                    </ul>
                </li>
                <li class=""><a href="@Url.Content("~/HowToUse/Index")"><i class="lnr lnr-question-circle"></i> <span>How To Use</span></a></li>
                <li class=""><a href="@Url.Content("~/Message/Chat")"><i class="lnr lnr-bubble"></i> <span>Message</span> <span class="badge bg-danger">0</span></a></li>

            </ul>
        </nav>
    </div>
</div>
