﻿    <div id="left-sidebar" class="sidebar">
    <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
        <span class="sr-only">Toggle Fullwidth</span>
        <i class="fa fa-angle-left"></i>
    </button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">
                    Hello
                    @if (Convert.ToBoolean(Session["IsSuperAdmin"]) == true)
                    {
                        <strong>Super Admin, @Session["FullName"].ToString()</strong>
                    }
                    else
                    {
                        <strong>Admin, @Session["FullName"].ToString()</strong>
                    }
                </a>
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class=""><a href="@Url.Content("~/DashboardAdmin")"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li class="">
                    <a href="#forms" class="has-arrow" aria-expanded="false"><i class="lnr lnr-user"></i> <span>User</span></a>
                    <ul aria-expanded="true">
                        <li class=""><a href="@Url.Content("~/ListNutritionistRegis/Index")"><i class="lnr lnr-users"></i> <span>List Nutritionists Registration</span></a></li>
                        <li class=""><a href="@Url.Content("~/DashboardAdmin/ListNutritionist")"><i class="lnr lnr-users"></i> <span>List Nutritionists</span></a></li>
                        <li class=""><a href="@Url.Content("~/DashboardAdmin/ListPatient")"><i class="lnr lnr-users"></i> <span>List Patient</span></a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#forms" class="has-arrow" aria-expanded="false"><i class="lnr lnr-file-add"></i> <span>Master Data</span></a>
                    <ul aria-expanded="true">
                        <li class=""><a href="@Url.Content("~/Food/Index")">List Food</a></li>
                        <li class=""><a href="@Url.Content("~/Disease/Index")">List Disease</a></li>
                        <li class=""><a href="@Url.Content("~/Article/Index")">List Article</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#forms" class="has-arrow" aria-expanded="false"><i class="lnr lnr-database"></i> <span>Report Data</span></a>
                    <ul aria-expanded="true">
                        <li class=""><a href="@Url.Content("~/Report/ReportFood")">Report Food</a></li>
                        <li class=""><a href="@Url.Content("~/Report/ReportDisease")">Report Disease</a></li>
                        <li class=""><a href="@Url.Content("~/Report/ReportNutritionist")">Report Nutritionist</a></li>
                        <li class=""><a href="@Url.Content("~/Report/ReportPatient")">Report Patient</a></li>
                        <li class=""><a href="@Url.Content("~/Report/ReportDaily")">Report Daily Patient</a></li>
                    </ul>
                </li>
                <li class=""><a href="@Url.Content("~/Audit/Index")"><i class="lnr lnr-database"></i> <span>Audit Log</span></a></li>
                <li class=""><a href="@Url.Content("~/ErrorLog/Index")"><i class="lnr lnr-database"></i> <span>Error Log</span></a></li>
            </ul>
        </nav>
    </div>
</div>

