﻿<div id="left-sidebar" class="sidebar">
    <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
        <span class="sr-only">Toggle Fullwidth</span>
        <i class="fa fa-angle-left"></i>
    </button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="@Url.Content(Session["Picture"].ToString())" class="img-responsive img-circle user-photo" alt="User Profile Picture" style="width:144px;height:144px;">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">Hello, <strong>@Session["FirstName"].ToString()</strong></a>

                
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class=""><a href="@Url.Content("~/DashboardNutritionist/Index")"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li class=""><a href="@Url.Content("~/ListPatientRegis/Index")"><i class="lnr lnr-users"></i> <span>List Patient Registration</span></a></li>
                <li class=""><a href="@Url.Content("~/ListPatient/Index")"><i class="lnr lnr-user"></i> <span>List Patient</span></a></li>
                <li class=""><a href="@Url.Content("~/Message/Chat")"><i class="lnr lnr-bubble"></i> <span>Message</span> <span class="badge bg-danger">0</span></a></li>
                               
            </ul>
        </nav>        
    </div>
</div>
