﻿<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
        </div>
        <!-- logo -->
        <div class="navbar-brand">
            <a href="index.html"><img src="@Url.Content("~/img/logo2-small.png")" alt="DiffDash Logo"></a>
        </div>
        <!-- end logo -->
        <div class="navbar-right">
           
            <!-- navbar menu -->
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-user"></i>
                        </a>
                        <ul class="dropdown-menu user-menu menu-icon">
                            
                            <li class="menu-button">
                                @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary">Logout</a>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end navbar menu -->
        </div>
    </div>
</nav>

