﻿@model IEnumerable<E_Nutriton.Models.tbl_nutritionist>
@{
    ViewBag.Title = "List Nutritionist Registation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">List Nutritionist Registration </h1>
        </div>
        <table class="table">
            <tr>

                <th>
                    Profile Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    Certificate
                </th>


                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@Url.Content(item.picture)" style="width:80px;height:80px;" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)   @Html.DisplayFor(modelItem => item.last_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <img id="myImg" src="@Url.Content(item.certificate)" style="width:80px;height:80px;" />
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </td>
                <td>
                    <button class="btn-default btn-sm pull-right" data-target="#loginModal" data-toggle="modal" @Html.ActionLink("Approve", "Select", new { id = item.id_nutritionist })
                </td>
            </tr>
            }

        </table>

    </div>
    <!--untuk popup-->
    <div class="modal fade" data-keyboard="false" tabindex="1" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

@section scriptsimg {

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

}