﻿@model E_Nutriton.Models.tbl_nutritionist
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="modal-content">
            <br />
            <h5 align="center" class="page-title"> Are You Sure select this ?</h5>
            <br />
            <br />
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Yes" class="btn btn-primary" /> <button type="button" class="btn btn-default">
                        @Html.ActionLink("Cancel", "Index")
                    </button>


                }
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</body>
</html>
