﻿@model E_Nutriton.Models.AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                    <div class="auth-box">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><img src="@Url.Content("~/img/logo1.png")" alt="DiffDash"></div>
                                <p class="lead">Login Admin</p>
                            </div>
                            <form class="form-auth-small" action="index.php">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.username_email, htmlAttributes: new { @class = "control-label sr-only" })
                                    @Html.EditorFor(model => model.username_email, new { htmlAttributes = new { @class = "form-control", id = "signin-email", placeholder = "Username or Email" } })
                                    @Html.ValidationMessageFor(model => model.username_email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label sr-only" })
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "form-control", id = "signup-password", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.rememberme, new { htmlAttributes = new { @type = "checkbox" } })
                                    @Html.LabelFor(model => model.rememberme)
                                    @Html.ValidationMessageFor(model => model.rememberme, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    

                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> @Html.ActionLink("Forgot password?", "ForgotPassword", "User")</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</body>
</html>
