﻿@model E_Nutriton.Models.tbl_error_log
@{
    ViewBag.Title = "Error Log";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <h2>Error Log</h2>
        <div>
            <br />

            <table id="errorlog" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Error Path</th>
                        <th>performed by</th>
                        <th>Error Time</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                    var Popup, dataTable;
                    $(document).ready(function () {
                        dataTable = $('#errorlog').DataTable({
                            "ajax": {
                                "url": "@Url.Action("GetData", "ErrorLog")",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "error_line" },
                                { "data": "performed_by" },
                                { "data": "error_time" },
                                { "data": "error_description" }
                            ], "order": [],
                            "language": {
                                "emptyTable": "No data Audit"
                            }
                        });
                    });
                    function PopupForm(url) {
                        var formDiv = $('<div/>');
                        $.get(url)
                            .done(function (response) {
                                formDiv.html(response);

                                Popup = formDiv.dialog({
                                    autoOpen: true,
                                    resizable: false,
                                    title: 'Fill Food Detail',
                                    height: 550,
                                    width: 700,
                                    close: function () {
                                        Popup.dialog('destroy').remove();
                                    }

                                });
                            });
                    }

                    function SubmitForm(form) {
                        $.validator.unobtrusive.parse(form);
                        if ($(form).valid()) {
                            $.ajax({
                                type: "POST",
                                url: form.action,
                                data: $(form).serialize(),
                                success: function (data) {
                                    if (data.success) {
                                        Popup.dialog('close');
                                        dataTable.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"
                                        })
                                    }
                                }
                            });
                        }
                        return false;
                    }


                </script>
            }

        </div>
    </div>
</div>

