﻿@model E_Nutriton.Models.ArticleViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>
<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">
        <h1 class="sr-only">Article </h1>

        <!-- SOCIAL -->
        <div class="dashboard-section no-margin">
            <div class="section-heading clearfix">
                <h2 class="section-title"> Article </h2>

            </div>

            <p>
                @Html.ActionLink("Create New Page Content", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <div class="panel-content">
                @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Content</h4>
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Content Title" })
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                                @Html.ValidationMessageFor(model => model.Picture)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", placeholder = "Content" })
                                @Html.ValidationMessageFor(model => model.Content)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            </div>
        </div>
        <!-- END SOCIAL -->
    </div>
