﻿@model E_Nutriton.Models.tbl_article

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">
        <h1 class="sr-only">Article </h1>

        <!-- SOCIAL -->
        <div class="dashboard-section no-margin">
            <div class="section-heading clearfix">
                <h2 class="section-title">  Are you Sure Want to Delete this Article ? </h2>

            </div>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    <button class="btn btn-white">@Html.ActionLink("Back to List", "Index")</button>
                </div>
            }
        </div>
    </div>
</div>



