﻿@model E_Nutriton.Models.tbl_article

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
    <div id="main-content">

        <div class="container">
            <div class="row">

                <div class="col-md-10 col-sm-5">
                    <!-- NEWS THUMB -->
                    <div class="news-detail-thumb">
                        <div class="news-image">
                            <h2 class="section-title" style="color:royalblue;">
                                @Html.DisplayFor(model => model.Title)</h3>
                                <p>  Release Date :@Html.DisplayFor(model => model.Release_date)</p>                            
                                    <img src="@Url.Action("RetrieveImage", new { id = Model.Id_article})" alt="" style="width:600px;height:500px;align-content:ce" />
                                <br />
                               
                                    <p>@Html.Raw(Model.Content)</p>

                                </div>
</div>
        </div>
    </div>
            </div>
     

