﻿@model IEnumerable<E_Nutriton.Models.ArticleViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">
        <h1 class="sr-only">Article </h1>

        <!-- SOCIAL -->
        <div class="dashboard-section no-margin">
            <div class="section-heading clearfix">
                <h2 class="section-title" style="color:royalblue;"> List Article </h2>

            </div>
            <p>
                @Html.ActionLink("Create New Article", "Create", null, new { @class = "btn btn-primary" })
            </p>

            <div class="panel-content">

                <style type="text/css">
                    td {
                        width: 100px;
                    }

                    th {
                        width: 100px;
                    }
                </style>
                <table class="table" width="100%">
                    <tr style="background-color:powderblue;">
                        <th>
                            <b>Title</b>
                        </th>
                        <th>
                            <b>Realese Date </b>
                        </th>
                        <th>
                            <b>Image</b>
                        </th>
                        <th>
                            <b>Content</b>
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Release_date)
                            </td>
                            <td>
                                <img src="@Url.Action("RetrieveImage", new {id = item.Id_article})" alt="" height=100 width=200 />
                            </td>
                            <td style="width: 500px;">
                                @Html.Raw(item.Content)
                            </td>
                            <td>
                                <button class="btn btn-white">@Html.ActionLink("Edit", "Edit", new { id = item.Id_article })&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <button class="btn btn-white"> @Html.ActionLink("Detail", "Detail", new { id = item.Id_article })</button>
                                <button class="btn btn-white">@Html.ActionLink("Delete", "Delete", new { id = item.Id_article })</button>

                            </td>

                        </tr>
                    }
                </table>
            </div>
        </div>
        <!-- END SOCIAL -->
    </div>
</div>

 