﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password - E-Nutrition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
    @using (Html.BeginForm())
    {
        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                    <div class="auth-box forgot-password">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><img src="@Url.Content("~/img/logo1.png")" alt="DiffDash"></div>
                                <p class="lead">Recover Password</p>
                            </div>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-check-circle"></i> @ViewBag.Message
                                </div>
                            }

                            <p class="text-center margin-bottom-30">Please enter your email address below to receive instructions for resetting password.</p>
                            <form class="form-auth-small" action="index.php">
                                <div class="form-group">
                                    <label for="signup-password" class="control-label sr-only">Email</label>
                                    @Html.TextBox("email", "", new { @class = "form-control", placeholder = "Your Email" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">SEND RESET LINK</button>
                                <div class="bottom">
                                    <span class="helper-text">Know your password? <a href="page-login.html">Login</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/Vendoring/js")
        @Scripts.Render("~/Scripting/js")
    }
</body>
</html>
