﻿@model E_Nutriton.Models.UserLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login Nutritionist - E-Nutrition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                    <div class="auth-box">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><a href="@Url.Content("~/Home/Index")"><img src="@Url.Content("~/img/nutritionist.png")"  style="width:150px;height:150px;"></a></div>
                                <p class="lead">Login to your Nutritionist Account</p>
                                
                            </div>
                            <form class="form-auth-small" action="index.php">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label sr-only" })
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @type = "email", @class = "form-control", id = "signin-email", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label sr-only" })
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", id = "signup-password", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.rememberme, new { htmlAttributes = new { @type = "checkbox" } })
                                    @Html.LabelFor(model => model.rememberme)
                                    @Html.ValidationMessageFor(model => model.rememberme, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span class="helper-text element-right">Don't have an account? @Html.ActionLink("Register Now", "Registration", "User")</span>
                                </div>
                                <div class="form-group">
                                    <span class="helper-text element-right">@Html.ActionLink("Login Patient", "Login", "Patient")</span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="Loading..." id="myBtn">LOGIN</button>
                                <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> @Html.ActionLink("Forgot password?", "ForgotPassword", "User")</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    @Scripts.Render("~/Vendoring/js")
    @Scripts.Render("~/Scripting/js")
    <script>
        $('#myBtn').button();

        $('#myBtn').click(function () {

            $('#myBtn').button('loading');

            /* perform processing then reset button when done */
            setTimeout(function () {
                $('#myBtn').button('reset');
            }, 10000000000);
        });
    </script>

</body>
</html>
