﻿@model E_Nutriton.Models.tbl_nutritionist

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Registration Account Nutritionist - E-Nutrition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <style>
        .holder {
            position: relative;
        }

        input[required="required"]:valid + .placeholder {
            display: none;
        }

        .placeholder {
            position: absolute;
            top: 6px;
            left: 5px;
            color: lightgrey;
        }

            .placeholder span {
                color: red;
            }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon1.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/logo-icon.png")">
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box register">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><a href="@Url.Content("~/Home/Index")"><img src="@Url.Content("~/img/nutritionist.png")" style="width:150px;height:150px;"></a></div>

                            <p class="lead">Create an Account Nutritionist</p>
                        </div>
                        @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == false)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="fa fa-warning"></i> @ViewBag.Message
                            </div>
                        }
                        else if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == true)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="fa fa-check-circle"></i> <strong>Success! </strong>@ViewBag.Message
                            </div>
                        }
                        <form class="form-auth-small" action="index.php">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label sr-only" })
                                <div class="holder">
                                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Last Name", required = "required" } })
                                    <span class="placeholder"><span>* </span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label sr-only" })
                                <div class="holder">
                                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Last Name", required = "required" } })
                                    <span class="placeholder"><span>* </span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label sr-only" })
                                <div class="holder">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @type = "email", @class = "form-control", id = "signup-email", placeholder = "Your Email", required = "required" } })
                                    <span class="placeholder"><span>* </span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label sr-only" })
                                <div class="holder">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", id = "signup-password", placeholder = "Password", required = "required" } })
                                    <span class="placeholder"><span>* </span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.confirm_password, htmlAttributes: new { @class = "control-label sr-only" })
                                @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @type = "password", @class = "form-control", id = "signup-confirm-password", placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <a style="color:red">*</a>
                                @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label sr-only" })
                                @Html.RadioButtonFor(model => model.gender, "Male", new { id = "gender-male" })
                                <label>Male</label>
                                @Html.RadioButtonFor(model => model.gender, "Female", new { id = "gender-female" })
                                <label>Female</label>
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <a style="color:red">*</a> Is required field
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="Loading..." id="myBtn">REGISTER</button>

                            <div class="bottom">
                                <span class="helper-text">Already have an account? @Html.ActionLink("Login", "Login", "User")</span>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Vendoring/js")
    @Scripts.Render("~/Scripting/js")
    <script>
        $('#myBtn').button();

        $('#myBtn').click(function () {

            $('#myBtn').button('loading');

            /* perform processing then reset button when done */
            setTimeout(function () {
                $('#myBtn').button('reset');
            }, 10000000000);
        });
    </script>
}
</body>
</html>
