﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Verify Account</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @Styles.Render("~/Vendoring/css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Contenting/css")
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/apple-icon.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/img/favicon.png")">
</head>
<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box forgot-password">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="@Url.Content("~/img/logo1.png")" alt="DiffDash"></div>
                            <p class="lead">Registration successfully done </p>
                        </div>
                        @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == false)
                        {

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-warning"></i> @ViewBag.Message

                        }
                        else if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == true)
                        {
                            <p>
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <i class="fa fa-check-circle"></i>
                                    <strong>Success! </strong>@ViewBag.Message
                                </div>
                            </p>


                        }


                        <p>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Vendoring/js")
    @Scripts.Render("~/Scripting/js")
</body>
</html>
