﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Food List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="main-content">
    <div class="section-heading clearfix">
        <h2 class="section-title"> Report List Patient</h2>

    </div>


    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
</div>