﻿
@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading clearfix">
            <h2 class="section-title" style="color:dodgerblue">5 Good Healthy Foods to Eat during the Corona Covid-19 Pandemic</h2>
        </div>
        <br />
        <img src=@Url.Content("~/img/clean.jpg") alt="Logo dark" style="width:800px;height:400px;">
        </br>
        </br>
        The Centers for Disease Control and Prevention (CDC) currently recommends practicing social distancing — staying home as
        much as possible and maintaining at least six feet from others when you do leave the house.
        Many states have even implemented shelter in place orders that limit any movement that isn’t considered “essential.”
        <br />
        Essential activities include everyday actions like grocery shopping, visiting a doctor, and some outdoor activity. Keep in mind that this list may vary from state to state.
        If you live in a state that’s under shelter in place orders, you should check the latest news to determine where you can and can’t go.<br />
        Luckily, healthy food is not only vegetables, there are many other types of favorite and healthy foods, such as fruits and whole grains<br />
        To keep ourselves healthy, there are various ways, not only to maintain a diet in everyday life but to exercise regularly.<br />
        <br />
        <br />
        While you’re inside, it’s vital to learn how to disinfect coronavirus and protect your home from being a breeding ground for the disease.
        Use the following steps and tips for cleaning and learn how to properly disinfect your home.
        <br />
        <br />
        10 steps to clean and disinfect your home during the coronavirus
        <br />
        <br />
        Learning how to disinfect coronavirus throughout your home requires thorough and repeated cleaning. Use your normal cleaning procedures more often, and pay special attention to high-traffic areas.
        Try to stay inside your home as much as possible, but take proper care if you need to leave and return. The following steps will help you maintain a safe, clean home.

        <br />
        <br />
        <b>Step 1: Wash your hands thoroughly</b> 
        <br />
        <br />
        Before you begin cleaning, wash your hands according to the CDC’s recommended guidelines. These guidelines include scrubbing your hands for 20 seconds using warm,
        soapy water.
        Be sure you’re washing your hands regularly right when you enter your house. Washing your hands is one of the best ways to prevent bringing the disease into your home.
        <br />  An additional note: If you can get your hands on disposable gloves, try to wear them when you’re out in public. Just make sure to dispose of them right away and then wash your hands using the steps above.
        <br />
        <b>Step 2: Use protective gear and clothing</b> 
        <br />
        <br />
        You should also use disposable gloves when you’re cleaning. But if you don’t have a supply of gloves that you can throw away,
        you can use reusable rubber gloves and wash them afterward.
        Try to use separate gloves for your kitchen, bathroom, and the rest of your home.
        <br />
        <br />
        While you’re cleaning, you may also want to wear a mask. This will keep you from breathing in harsh chemicals, while also deterring you from touching your face.
        The CDC now recommends everyone wear masks in public, in an effort to limit the spread of germs.
        <br />
        <br />
        <b>Step 3: Clean each surface thoroughly</b>
        <br />
        <br />
        Cleaning is the first step toward removing dirt, germs, and viruses from your surfaces. You can use warm, soapy water to remove most pathogens.
        Use a sponge or cloth that you can wash out after each use, and be sure to clean hard-to-reach places like cracks and corners.
        <br />
        <br />
        <b>Step 4: Properly disinfect each surface</b>
        <br />
        <br />
        After you clean, disinfecting is the step that will kill off viruses that are still on the surface. To disinfect, use products recommended by the Environmental Protection Agency, like Clorox Wipes or Lysol Spray.
        Many of these products are currently out of stock, but you can make a CDC-approved solution with household bleach and water to disinfect your surfaces.
        </br>
        <br />
        <b>Step 4: Properly disinfect each surface Step 5: Disinfect packages</b>
        <br />
        <br />
        We know you’re probably online shopping during the pandemic. If you receive packages in the mail, make sure to wipe them down with some type of disinfectant.
        Studies have found that coronavirus is known to live on cardboard for up to 24 hours.
        <br />
        <br />
        Don’t forget to clean these surfaces and objects!
        The objects we touch every day may be the easiest to forget about. You may not usually sanitize these items, but they’re high-traffic areas that could be the first places you touch when you come home.
    </div>
</div>
