﻿
@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading clearfix">
            <h2 class="section-title" style="color:dodgerblue">5 Good Healthy Foods to Eat during the Corona Covid-19 Pandemic</h2>
        </div>
        <br />
        <img src=@Url.Content("~/img/food.jpg") alt="Logo dark" style="width:800px;height:400px;">
        </br>
        </br>
        Eating healthy food is a routine that everyone should do. This is to keep the body healthy and fit.
        Not many people realize that the food they consume daily contains more intake that is not good for their health.
        Especially if consumed in the long term.
        <br />
        Healthy food tends not always to look attractive, with less flavor. However, we can modify it with other types of food or other healthy ingredients, to make the food more suitable to be enjoyed. <br /><br />

        Such as vegetables. It must be admitted, there are still many of us, most likely our children, who think of vegetables as a scourge.
        The reasons vary, but there are those who consider vegetables less delicious to eat.<br />
        Luckily, healthy food is not only vegetables, there are many other types of favorite and healthy foods, such as fruits and whole grains<br />
        To keep ourselves healthy, there are various ways, not only to maintain a diet in everyday life but to exercise regularly.<br />
        <br />
        <img src=@Url.Content("~/img/food2.jpg") alt="Logo dark" style="width:800px;height:400px;">
        </br>
        </br>

        Especially in the midst of the COVID-19 pandemic that is currently happening around the world, including in Indonesia.
        We must always maintain our health so that the body is strong and not infected with the corona virus,
        one of the ways is by keeping the body in shape through the food we consume

        There are various healthy foods that you can consume during the Corona Covid-19 pandemic,
        <br />
        <br />

        1.	Food
        <br />
        2.	Meat
        <br />
        3.	Nuts and Seeds
        <br />
        4.	Vegetable
        <br />
        5.	Fish and Seafood

        <br />
        <br />
        Those are 5 healthy foods that you must consume every day. That way, the body will be healthier and avoid various diseases.
        Which ones do you really consume?
    </div>
</div>
