﻿
@{
    ViewBag.Title = "Index";
    var firstname = ViewBag.FirstName;
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}



@if (Convert.ToBoolean(Session["IsAccountActive"]))
{
    <!-- MAIN CONTENT -->
    <div id="main-content">
        <div class="container-fluid">
            <h1 class="sr-only">Dashboard</h1>
            <!
            <!-- SOCIAL -->
            <div class="dashboard-section no-margin">
                <div class="section-heading clearfix">
                    <h2 class="section-title"> Dashboard Nutritionist</h2>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline"><i class="lnr lnr-user"></i>  @Html.ActionLink((string)ViewBag.CountPatient, "Index", "ListPatient")<span>Patient</span></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline"><i class="lnr lnr-users"></i> @Html.ActionLink((string)@ViewBag.CountPatientRegis, "Index", "ListPatientRegis") <span>Patient Registration</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SOCIAL -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    
}
else
{
    <!-- MAIN CONTENT -->
    <div id="main-content">
        <div class="container-fluid">
            <h1 class="sr-only">Dashboard</h1>
            <div class="alert alert-info alert-dismissible" role="alert">
                <i class="fa fa-info-circle"></i> One more step to acitve your account, please update your profile and upload your Certificate. 
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    
}

