﻿@model E_Nutriton.Models.tbl_nutritionist
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">User Profile </h1>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#myprofile" role="tab" data-toggle="tab">My Profile</a></li>
            <li><a href="#account" role="tab" data-toggle="tab">Account</a></li>
        </ul>
        <div>
            <div class="tab-content content-profile">
                <!-- MY PROFILE -->
                <div class="tab-pane fade in active" id="myprofile">

                    @using (Html.BeginForm("UpdateProfile", "DashboardNutritionist", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id_nutritionist)
                        <form>
                            @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == false)
                            {
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-warning"></i> <strong>Error! </strong> @ViewBag.Message
                                </div>
                            }
                            else if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == true)
                            {
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-check-circle"></i> <strong>Success! </strong>@ViewBag.Message
                                </div>
                            }
                            
                            <div class="profile-section">
                                <h2 class="profile-heading">Basic Information</h2>
                                <div class="clearfix">
                                    <!-- LEFT SECTION -->
                                    <div class="left">
                                        <div class="form-group">
                                            <label>Upload Photo</label>
                                            <input type="file" name="ImagePictureFile" class="dropify" data-allowed-file-extensions="jpg jpeg png" data-default-file="@Url.Content(Model.picture)">
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.first_name)
                                            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.last_name)
                                            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.gender)
                                            <div>
                                                @if (Model.gender == "Male")
                                                {
                                                    <label class="fancy-radio">
                                                        @Html.RadioButtonFor(model => model.gender, "Male", new { id = "gender-male", @checked = true })
                                                        <span><i></i>Male</span>
                                                    </label>
                                                    <label class="fancy-radio">
                                                        @Html.RadioButtonFor(model => model.gender, "Female", new { id = "gender-female" })
                                                        <span><i></i>Female</span>
                                                    </label>
                                                }
                                                else if (Model.gender == "Female")
                                                {
                                                    <label class="fancy-radio">
                                                        @Html.RadioButtonFor(model => model.gender, "Male", new { id = "gender-male" })
                                                        <span><i></i>Male</span>
                                                    </label>
                                                    <label class="fancy-radio">
                                                        @Html.RadioButtonFor(model => model.gender, "Female", new { id = "gender-female", @checked = true })
                                                        <span><i></i>Female</span>
                                                    </label>
                                                }
                                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END LEFT SECTION -->
                                    <!-- RIGHT SECTION -->
                                    <div class="right">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.description)
                                            @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = "5", placeholder = "Add your description, such as educational history, work history and so on, the more detailed the better" })
                                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.date_birth)
                                            @Html.EditorFor(model => model.date_birth, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.date_birth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.address)
                                            @Html.TextAreaFor(model => model.address, new { @class = "form-control", rows = "3" })
                                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Upload Certificate</label>
                                            <input type="file" name="ImageCertificateFile" class="dropify" data-allowed-file-extensions="jpg jpeg png" data-default-file="@Url.Content(Model.certificate)">
                                        </div>
                                    </div>
                                    <!-- END RIGHT SECTION -->
                                </div>
                                <p class="margin-top-30">
                                    <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;

                                </p>
                            </div>
                        </form>
                    }
                </div>
                <!-- END MY PROFILE -->
                <!-- ACCOUNT -->
                <div class="tab-pane fade" id="account">
                    @using (Html.BeginForm("UpdatePassword", "DashboardNutritionist", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PasswordUpdate.id_nutritionist, new { @Value = Session["IdNutritionist"] })
                        <form>
                            <div class="profile-section">
                                <div class="clearfix">
                                    <!-- LEFT SECTION -->
                                    <div class="left">
                                        <h2 class="profile-heading">Change Password</h2>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdate.current_password)
                                            @Html.EditorFor(model => model.PasswordUpdate.current_password, new { htmlAttributes = new { @class = "form-control", id = "update-current-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdate.new_password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdate.new_password)
                                            @Html.EditorFor(model => model.PasswordUpdate.new_password, new { htmlAttributes = new { @class = "form-control", id = "update-new-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdate.new_password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdate.confirm_password)
                                            @Html.EditorFor(model => model.PasswordUpdate.confirm_password, new { htmlAttributes = new { @class = "form-control", id = "update-confirm-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdate.confirm_password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!-- END LEFT SECTION -->
                                    <!-- RIGHT SECTION -->
                                    <div class="right">

                                    </div>
                                    <!-- END RIGHT SECTION -->
                                </div>
                                <p class="margin-top-30">
                                    <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;

                                </p>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ACCOUNT -->
<!-- END MAIN CONTENT -->
