﻿@model IEnumerable<E_Nutriton.Models.tbl_patient>
@{
                /**/

                ViewBag.Title = "ListPatient";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">List Patient Active </h1>
        </div>
        <table class="table">
            <tr>

                <th>
                    Profile Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.picture)" style="width:80px;height:80px;" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.first_name)   @Html.DisplayFor(modelItem => item.last_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                </tr>
            }

        </table>

    </div>
