﻿@model E_Nutriton.Models.tbl_food
@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "Food", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(Model => Model.id_food)
    <div class="form-group">
        @Html.LabelFor(Model => Model.name_food, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.name_food, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.name_food, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.portion, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.portion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.portion, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.carbohydrate, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.carbohydrate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.carbohydrate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.energy, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.energy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.energy, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.fat, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.fat, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.fat, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.protein, new { @class = "controller-label" })
        @Html.EditorFor(Model => Model.protein, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.protein, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}

