﻿@model E_Nutriton.Models.tbl_food
@{
    ViewBag.Title = "Food List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <h2>Food List</h2>
        <div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-warning"></i> @ViewBag.Message
                </div>
            }
            <br />
            <a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","Food")')"><i class='fa fa-plus-circle'></i>add new</a>
            <table id="food" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name Food</th>
                        <th>Gram</th>
                        <th>Energy</th>
                        <th>Carbohydrate</th>
                        <th>Fat</th>
                        <th>Protein</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                    var Popup, dataTable;
                    $(document).ready(function () {
                        dataTable = $('#food').DataTable({
                            "ajax": {
                                "url": "@Url.Action("GetData", "Food")",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "name_food" },
                                { "data": "portion" },
                                { "data": "energy" },
                                { "data": "carbohydrate" },
                                { "data": "fat" },
                                { "data": "protein" },
                                {
                                    "data": "id_food", "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddorEdit","Food")/" + data +"')><i class='fa fa-pencil'></i>Edit </a>";
                                    },
                                    "orderable": false,
                                    "searchable": false,
                                    "width": "150px"
                                }
                            ], "order": [],
                            "language": {
                                "emptyTable": "No data Found, Please Click add new button"
                            }
                        });
                    });
                    function PopupForm(url) {
                        var formDiv = $('<div/>');
                        $.get(url)
                            .done(function (response) {
                                formDiv.html(response);

                                Popup = formDiv.dialog({
                                    autoOpen: true,
                                    resizable: false,
                                    title: 'Fill Food Detail',
                                    height: 550,
                                    width: 700,
                                    close: function () {
                                        Popup.dialog('destroy').remove();
                                    }

                                });
                            });
                    }

                    function SubmitForm(form) {
                        $.validator.unobtrusive.parse(form);
                        if ($(form).valid()) {
                            $.ajax({
                                type: "POST",
                                url: form.action,
                                data: $(form).serialize(),
                                success: function (data) {
                                    if (data.success) {
                                        Popup.dialog('close');
                                        dataTable.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"
                                        })
                                    }
                                    else {
                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "failed"
                                        })
                                    }
                                }
                            });
                        }
                        return false;
                    }


                </script>
            }

        </div>
    </div>
</div>


