﻿@model IEnumerable<E_Nutriton.Models.ArticleViewModel>
@{
    ViewBag.Title = "Dashboard Patient";
    var firstname = ViewBag.FirstName;
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}



@if (Convert.ToBoolean(Session["IsAccoutActive"]))
{
    <!-- MAIN CONTENT -->
    <div id="main-content">
        <div class="container-fluid">
            <h1 class="sr-only">Dashboard</h1>

            <!-- SOCIAL -->
            <div class="dashboard-section no-margin">
                <div class="section-heading clearfix">
                    <h2 class="section-title" style="color:dodgerblue"> Dashboard </h2>

                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline" style="color:cadetblue"><i class="lnr lnr-calendar-full"></i> @ViewBag.TotDaily <span>Total Daily</span></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline" style="color:cadetblue"><i class="lnr lnr-book"></i> @ViewBag.TotEnergyAll <span>Total Energy</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-section no-margin">

                <div class="panel-content">
                    <h2 class="section-title" style="color:dodgerblue"> Article</h2>
                    <div class="row">

                        <div class="panel-content">

                            <style type="text/css">
                                td {
                                    width: 500px;
                                }

                                th {
                                    width: 100px;
                                }
                            </style>
                            @foreach (var item in Model)
                            {
                                <table style="width:100%">
                                    <tr>
                                        <th rowspan="2"><img src="@Url.Action("RetrieveImage", new { id = item.Id_article })" alt="" height=250 width=250 /></th>
                                        <td>
                                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                                            @Html.DisplayFor(modelItem => item.Release_date)
                                            <br />
                                            @Html.Raw(item.Content)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <button class="btn btn-white"> @Html.ActionLink("Detail", "DetailArticle", new { id = item.Id_article })</button></td>
                                        <br />
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END SOCIAL -->
    </div>

    <!-- END MAIN CONTENT -->

}
else
{
    <!-- MAIN CONTENT -->
    <div id="main-content">
        <div class="container-fluid">
            <h1 class="sr-only">Dashboard</h1>
            <div class="alert alert-info alert-dismissible" role="alert">
                <i class="fa fa-info-circle"></i> One more step to acitve your account, please update your profile and select your nutritionist.
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

}

    