﻿@model E_Nutriton.Models.tbl_patient
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">My Profile </h1>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#myprofile" role="tab" data-toggle="tab">My Profile</a></li>

            <li><a href="#account" role="tab" data-toggle="tab">Account</a></li>
        </ul>
        <div>
            <div class="tab-content content-profile">
                <!-- MY PROFILE -->
                <div class="tab-pane fade in active" id="myprofile">

                    @using (Html.BeginForm("UpdateProfile", "DashboardPatient", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id_pantient)
                    <form>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == false)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="fa fa-warning"></i> <strong>Error! </strong> @ViewBag.Message
                            </div>
                        }
                        else if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == true)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="fa fa-check-circle"></i> <strong>Success! </strong>@ViewBag.Message
                            </div>
                        }

                        <div class="profile-section">
                            <div class="clearfix">
                                <!-- LEFT SECTION -->
                                <div class="left">
                                    <div class="form-group">
                                        <label>Upload Photo</label>
                                        <input type="file" name="ImagePictureFile" class="dropify" data-allowed-file-extensions="jpg jpeg png" data-default-file="@Url.Content(Model.picture)">
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.first_name)
                                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.last_name)
                                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.gender)
                                        <div>
                                            @if (Model.gender == "Male")
                                            {
                                                <label class="fancy-radio">
                                                    @Html.RadioButtonFor(model => model.gender, "Male", new { id = "gender-male", @checked = true })
                                                    <span><i></i>Male</span>
                                                </label>
                                                <label class="fancy-radio">
                                                    @Html.RadioButtonFor(model => model.gender, "Female", new { id = "gender-female" })
                                                    <span><i></i>Female</span>
                                                </label>
                                            }
                                            else if (Model.gender == "Female")
                                            {
                                                <label class="fancy-radio">
                                                    @Html.RadioButtonFor(model => model.gender, "Male", new { id = "gender-male" })
                                                    <span><i></i>Male</span>
                                                </label>
                                                <label class="fancy-radio">
                                                    @Html.RadioButtonFor(model => model.gender, "Female", new { id = "gender-female", @checked = true })
                                                    <span><i></i>Female</span>
                                                </label>
                                            }
                                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.height)
                                        @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.height, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.weight)
                                        @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <span class="d-inline-block text-center">
                                            <button type="button" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                                                @Html.ActionLink("Disease ", "Index", "SelectDisease")
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <!-- END LEFT SECTION -->
                                <!-- RIGHT SECTION -->
                                <div class="right">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.symptoms)
                                        @Html.TextAreaFor(model => model.symptoms, new { @class = "form-control", rows = "3", runat = "server", placeholder = "Add your symptoms, the more detailed the better" })
                                        @Html.ValidationMessageFor(model => model.symptoms, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group date">
                                        @Html.LabelFor(model => model.date_birth)
                                        @Html.EditorFor(model => model.date_birth, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.date_birth, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.address)
                                        @Html.TextAreaFor(model => model.address, new { @class = "form-control", rows = "3" })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Upload Covid-19 Letter</label>
                                        <input type="file" name="ImageLetterFile" class="dropify" data-allowed-file-extensions="jpg jpeg png" data-default-file="@Url.Content(Model.certificate)">
                                    </div>

                                    <div class="form-group">
                                        <span class="d-inline-block text-center">
                                            <button type="button" class="btn btn-light btn-download-app mb-xl-0 mr-2 mr-md-3">
                                                @Html.ActionLink("Select Nutitionist ", "Index", "SelectNutrition")
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <!-- END RIGHT SECTION -->
                            </div>
                            <p class="margin-top-30">
                                <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;

                            </p>
                        </div>
                    </form>
                    }
                </div>
                <!-- END MY PROFILE -->
                <!-- End Untritionist -->
                <!-- ACCOUNT -->
                <div class="tab-pane fade" id="account">
                    @using (Html.BeginForm("UpdatePassword", "DashboardPatient", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PasswordUpdatePatient.id_patient, new { @Value = Session["Idpatient"] })
                        <form>
                            <div class="profile-section">
                                <div class="clearfix">
                                    <!-- LEFT SECTION -->
                                    <div class="left">
                                        <h2 class="profile-heading">Change Password</h2>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdatePatient.current_password)
                                            @Html.EditorFor(model => model.PasswordUpdatePatient.current_password, new { htmlAttributes = new { @class = "form-control", id = "update-current-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdatePatient.new_password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdatePatient.new_password)
                                            @Html.EditorFor(model => model.PasswordUpdatePatient.new_password, new { htmlAttributes = new { @class = "form-control", id = "update-new-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdatePatient.new_password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PasswordUpdatePatient.confirm_password)
                                            @Html.EditorFor(model => model.PasswordUpdatePatient.confirm_password, new { htmlAttributes = new { @class = "form-control", id = "update-confirm-password" } })
                                            @Html.ValidationMessageFor(model => model.PasswordUpdatePatient.confirm_password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!-- END LEFT SECTION -->
                                    <!-- RIGHT SECTION -->
                                    <div class="right">

                                    </div>
                                    <!-- END RIGHT SECTION -->
                                </div>
                                <p class="margin-top-30">
                                    <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;

                                </p>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ACCOUNT -->
<!-- END MAIN CONTENT -->
