﻿@model E_Nutriton.Models.tbl_meal
@{
    ViewBag.Title = "Lunch";
    Layout = "~/Views/Shared/_LayoutPatientJson.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <a class="btn btn-primary" href="@Url.Action("AddMeal", "Daily")/@Session["IdDaily"].ToString()">Back to Meal</a>
        <div>
            <br />
            Add Meal @ViewBag.Title
            <table id="food" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>

                        <th>Food Name</th>
                        <th>Energy</th>
                        <th>Carbohydrate</th>
                        <th>Fat</th>
                        <th>Protein</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                    var Popup, dataTable;
                    $(document).ready(function () {
                        dataTable = $('#food').DataTable({
                            "ajax": {
                                "url": "@Url.Action("GetData", "Meal")",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "name_food" },
                                { "data": "energy" },
                                { "data": "carbohydrate" },
                                { "data": "fat" },
                                { "data": "protein" },
                                {
                                    "data": "id_food", "render": function (data) {
                                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("SelectFood", "Meal")/" + data +"')><i class='fa fa-pencil'></i>Select </a>";
                                    },
                                    "orderable": false,
                                    "searchable": false,
                                    "width": "150px"
                                }
                            ],
                            "language": {
                                "emptyTable": "No data Found, Please Click add new button"
                            }
                        });
                    });
                    function PopupForm(url) {
                        var formDiv = $('<div/>');
                        $.get(url)
                            .done(function (response) {
                                formDiv.html(response);

                                Popup = formDiv.dialog({
                                    autoOpen: true,
                                    resizable: false,
                                    title: 'Select Food',
                                    height: 550,
                                    width: 700,
                                    close: function () {
                                        Popup.dialog('destroy').remove();
                                    }

                                });
                            });
                    }

                    function SubmitForm(form) {
                        $.validator.unobtrusive.parse(form);
                        if ($(form).valid()) {
                            $.ajax({
                                type: "POST",
                                url: form.action,
                                data: $(form).serialize(),
                                success: function (data) {
                                    if (data.success) {
                                        Popup.dialog('close');
                                        dataTable.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"
                                        })
                                    }
                                }
                            });
                        }
                        return false;
                    }


                </script>
            }

        </div>
        <div>
            <br />
            <table id="selectedfood" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Energy</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts2 {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                        var Popup, dataTable;
                        $(document).ready(function () {
                            dataTable = $('#selectedfood').DataTable({
                                "ajax": {
                                    "url": "@Url.Action("GetDataSelectFood", "Meal")",
                                    "type": "GET",
                                    "datatype": "json"
                                },
                                "columns": [
                                    {
                                        "data": "name_food",
                                        "orderable": false
                                    },
                                    {
                                        "data": "energy",
                                        "orderable": false
                                    },

                                    {
                                        "data": "id_detail_food", "render": function (data) {
                                            return "<a class='btn btn-danger' onclick=Delete(" + data + ")><i class='fa fa-trash'></i>Delete</a>";
                                        },
                                        "orderable": false,
                                        "searchable": false,
                                        "width": "150px"
                                    }
                                ],
                                "language": {
                                    "emptyTable": "No data Found, Please Click add new button"
                                }
                            });
                        });
                        function PopupForm(url) {
                            var formDiv = $('<div/>');
                            $.get(url)
                                .done(function (response) {
                                    formDiv.html(response);

                                    Popup = formDiv.dialog({
                                        autoOpen: true,
                                        resizable: false,
                                        title: 'Fill Disease Detail',
                                        height: 310,
                                        width: 500,
                                        close: function () {
                                            Popup.dialog('destroy').remove();
                                        }

                                    });
                                });
                        }

                        function SubmitForm(form) {
                            $.validator.unobtrusive.parse(form);
                            if ($(form).valid()) {
                                $.ajax({
                                    type: "POST",
                                    url: form.action,
                                    data: $(form).serialize(),
                                    success: function (data) {
                                        if (data.success) {
                                            Popup.dialog('close');
                                            dataTable.ajax.reload();

                                            $.notify(data.message, {
                                                globalPosition: "top center",
                                                className: "success"
                                            })
                                        }
                                    }
                                });
                            }
                            return false;
                        }
                    function Delete(id) {
                        if (confirm('Are you sure to delete this food from your list?')) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Delete", "Meal")/' + id,
                                success: function (data) {
                                    if (data.success) {
                                        dataTable.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"
                                        })
                                    }
                                }
                            })
                        }

                    }

                </script>
            }

        </div>
    </div>
</div>