﻿@model E_Nutriton.Models.tbl_food
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="form-group">
    @Html.DisplayNameFor(model => model.name_food) : 
    @Html.DisplayFor(model => model.name_food)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.energy) :
    @Html.DisplayFor(model => model.energy)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.fat) :
    @Html.DisplayFor(model => model.fat)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.protein) :
    @Html.DisplayFor(model => model.protein)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.carbohydrate) :
    @Html.DisplayFor(model => model.carbohydrate)
</div>
@using (Html.BeginForm("SelectFood", "Meal", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(Model => Model.id_food)    
    <div class="form-group">
        <input type="submit" value="Select Food" class="btn btn-primary" />
    </div>
}


