﻿@model E_Nutriton.Models.tbl_disease
@{
                /**/

                /**/

                Layout = null;
}

@using (Html.BeginForm("AddorEdit", "disease", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(Model => Model.id_disease)
    <div class="form-group">
        @Html.LabelFor(Model => Model.name_disease, new { @class = "controller-label" }) <a style="color:red">*</a>
        @Html.EditorFor(Model => Model.name_disease, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.name_disease, "", new { @class = "text-danger" })
    </div>
        
    <div class="form-group">
        @Html.LabelFor(Model => Model.energy, new { @class = "controller-label" }) <sup>(gr)</sup> <a style="color:red">*</a>
        @Html.EditorFor(Model => Model.energy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.energy, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}

