﻿@model E_Nutriton.Models.tbl_disease
@{
    ViewBag.Title = "Disease List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <h2>Disease List</h2>
        <div>
            <br />
            <a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","Disease")')"><i class='fa fa-plus-circle'></i>add new</a>
            <table id="disease" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name Disease</th>
                        <th>Energy <sup>(Kkal)</sup></th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                        var Popup, dataTable;
                        $(document).ready(function () {
                            dataTable = $('#disease').DataTable({
                                "ajax": {
                                    "url": "@Url.Action("GetData", "disease")",
                                    "type": "GET",
                                    "datatype": "json"
                                },
                                "columns": [
                                    { "data": "name_disease" },
                                    { "data": "energy" },
                                    {
                                        "data": "id_disease", "render": function (data) {
                                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddorEdit","Disease")/" + data +"')><i class='fa fa-pencil'></i>Edit</a>";
                                        },
                                        "orderable": false,
                                        "searchable": false,
                                        "width": "150px"
                                    }
                                ], "order": [],
                                "language": {
                                    "emptyTable": "No data Found, Please Click add new button"
                                }
                            });
                        });
                        function PopupForm(url) {
                            var formDiv = $('<div/>');
                            $.get(url)
                                .done(function (response) {
                                    formDiv.html(response);

                                    Popup = formDiv.dialog({
                                        autoOpen: true,
                                        resizable: false,
                                        title: 'Fill Disease Detail',
                                        height: 310,
                                        width: 500,
                                        close: function () {
                                            Popup.dialog('destroy').remove();
                                        }

                                    });
                                });
                        }

                        function SubmitForm(form) {
                            $.validator.unobtrusive.parse(form);
                            if ($(form).valid()) {
                                $.ajax({
                                    type: "POST",
                                    url: form.action,
                                    data: $(form).serialize(),
                                    success: function (data) {
                                        if (data.success) {
                                            Popup.dialog('close');
                                            dataTable.ajax.reload();

                                            $.notify(data.message, {
                                                globalPosition: "top center",
                                                className: "success"
                                            })
                                        }
                                    }
                                });
                            }
                            return false;
                        }


                </script>
            }

        </div>
    </div>
</div>


