﻿
@{
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading clearfix">
            <h2 class="section-title" style="color:dodgerblue">How To Use</h2>
        </div>
        <br />
        The following is the procedure for using E nutrition applications
        The steps that must be taken first the patient must register if they have registered, the patient can log in
        <br />
        <br />
        1. Update Profile
        If the patient is logged in, he can enter the E-nutrition application, here is a display if the patient has successfully logged in:
        <br /><br />
        <img src=@Url.Content("~/img/dashboadUtama.png" ) alt="Logo dark" style="width:800px;height:400px;align-content:unset">
        <br /><br />
        This e nutrition application still cannot be used if you have not updated your profile, to update your profile you can select the menu in the upper right corner then select
        <br />the My profile menu. If it has been selected, it will go to the My Profile page
        <img src=@Url.Content("~/img/update.png") alt="Logo dark" style="width:800px;height:400px"><br /><br />
        On this page you are required to fill in your weight, height, address, complaints, date of birth and also a Covid certificate. If already filled in click the update button,
        <br />
        <br />
        2. Select a Nutritionist
        <br />
        then next you are required to select a nutritionist, by pressing the Select Nutritionist button on the same page.
        Here's how it looks when you choose a nutritionist<br />
        <img src=@Url.Content("~/img/AHLI.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />


        After that, select the nutritionist you want by pressing the select button, if a popup will appear,

        click yes if you want to vote, click cancel if you cancel the vote
        <br /><br />
        3. Select Disease (Optional)
        <br />
        If you have selected ahligizi, you can enter your disease history data, by selecting the disease button
        <br />
        <img src=@Url.Content("~/img/PENYAKIT.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />
        <br />
        The following is a display of the disease list, if you want to choose, you can press the select button,
        <br />then a popup will appear to select the disease,
        if you want to choose, you can click the select disease button
        <br />
        <img src=@Url.Content("~/img/PENYAKITPOPUP.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />

        4. If you have updated your profile, choose a nutritionist, then your nutritionist will verify your account,<br /> if it is successful in acc you can use this application,
        here is the display if your account has been verified by a nutritionist
        <br />
        <img src=@Url.Content("~/img/D1.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />

        5. Input daily intake
        <br />
        The next step, you can input your nutritional intake by selecting the Daily menu
        If it appears on the daily menu page you can select the add new button where later you are required to enter your daily weight and complaints on that date
        <img src=@Url.Content("~/img/DAILY.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />
        If you have selected the add new button, a pop up will appear to enter your weight and complaints, then after that you can click the submit button to save the data.
        <br /><br />

        <img src=@Url.Content("~/img/POPUPDAILY.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />

        Then the next step is to choose nutritional intake, you can select the button in the table, select the addmeal button, then the options will appear
        <br /> <br />
        <img src=@Url.Content("~/img/KATEGORIMAKAN.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />

        Select the category then a page will appear to select food
        <br />
        <br />
        <img src=@Url.Content("~/img/LISTFOOD.png") alt="Logo dark" style="width:800px;height:400px;"><br /><br />
        <br />
        Choose the food you eat by clicking the select menu
        After that you can see what intake you eat today by scrolling down, if you have entered your nutritional intake, the nutritionist will see what intake you ate today, then the nutritionist will give you advice,
        Suggestions can be seen in the Advice button below is a display if a nutritionist provides suggestions
    </div>
</div>
