﻿@model IEnumerable<E_Nutriton.Models.tbl_meal>
@{
    ViewBag.Title = "Add Meal";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">

        <!-- SOCIAL -->
        <div class="dashboard-section no-margin">
            <div class="section-heading clearfix">
                <h2 class="section-title">Add Meal Time </h2>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <p class="metric-inline">
                            @Html.ActionLink("Breakfast", "Breakfast", "Meal", new { }, new { @class = "btn btn-primary" } )
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p class="metric-inline">
                            @Html.ActionLink("Lunch", "Lunch", "Meal", new { }, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p class="metric-inline">
                            @Html.ActionLink("Dinner", "Dinner", "Meal", new { }, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline"><i class="lnr lnr-dinner"></i> @Html.DisplayFor(modelItem => item.total_energy_meal) <span>@Html.DisplayFor(modelItem => item.meal_type)</span></p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- END SOCIAL -->
        
    </div>
</div>
<!-- END MAIN CONTENT -->