﻿@model E_Nutriton.Models.tbl_daily
@{
                /**/

                /**/

                Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm("AddorEdit", "Daily", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(Model => Model.id_daily)
    @Html.HiddenFor(Model => Model.id_hashing)
    @Html.HiddenFor(Model => Model.daily_date)
    @Html.HiddenFor(Model => Model.total_energy_daily)
    @Html.HiddenFor(model => model.id_pantient, new { @Value = Session["IdPatient"] })
    <div class="form-group">
        @Html.LabelFor(Model => Model.weight_daily, new { @class = "controller-label" }) <a style="color:red">*</a>
        @Html.EditorFor(Model => Model.weight_daily, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.weight_daily, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.complaints_disease, new { @class = "controller-label" }) <sup>(gr)</sup> <a style="color:red">*</a>
        @Html.EditorFor(Model => Model.complaints_disease, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(Model => Model.complaints_disease, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}
