﻿@model E_Nutriton.Models.tbl_advice
@{
    ViewBag.Title = "Advice";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">Add Advice </h1>
        </div>
        <div class="margin-bottom-15">
            <a class="btn btn-default" href="@Url.Content("~/Daily/Index/")">Back</a>
        </div>
        <div>
            <div class="profile-section">
                <div class="clearfix">
                    <!-- LEFT SECTION -->
                    <div class="left">
                        <div class="form-group">
                            <strong>Advice</strong>
                            <br />
                            @Html.DisplayFor(model => model.advice, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
                    
            <!-- END MY PROFILE -->
            <!-- ACCOUNT -->
        </div>
    </div>
