﻿@model E_Nutriton.Models.tbl_daily
@{
    ViewBag.Title = "My Daily";
    Layout = "~/Views/Shared/_LayoutPatientJson.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <h2>My Daily</h2>
        <div>
            <br />
            <a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","Daily")')"><i class='fa fa-plus-circle'></i>add new</a>
            <table id="daily" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Weight Daily</th>
                        <th>Complaints Disease</th>
                        <th>Date</th>
                        <th>Total Energy</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>


            <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

            @section scripts {
                <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

                <script src="~/Scripts/notify.min.js"></script>

                <script>
                        var Popup, dataTable;
                        $(document).ready(function () {
                            dataTable = $('#daily').DataTable({
                                "ajax": {
                                    "url": "@Url.Action("GetData", "Daily")",
                                    "type": "GET",
                                    "datatype": "json"
                                },
                                "columns": [
                                    { "data": "weight_daily" },
                                    { "data": "complaints_disease" },
                                    { "data": "daily_date" },
                                    { "data": "total_energy_daily" },
                                    { "data": "description" },
                                    {
                                        "data": "id_hashing", "render": function (data) {
                                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddorEdit","Daily")/" + data +"')><i class='fa fa-pencil'></i>Edit</a> <a class='btn btn-default btn-sm' href='@Url.Action("AddMeal","Daily")/" + data +"'><i class='fa fa-pencil'></i>Add meal</a>  <a class='btn btn-default btn-sm' href='@Url.Action("Advice","Daily")/" + data +"'><i class='fa fa-pencil'></i>Advice</a>";
                                        },
                                        "orderable": false,
                                        "searchable": false,
                                        "width": "290px"
                                    }
                                ],
                                "language": {
                                    "emptyTable": "No data Found, Please Click add new button"
                                }
                            });
                        });
                        function PopupForm(url) {
                            var formDiv = $('<div/>');
                            $.get(url)
                                .done(function (response) {
                                    formDiv.html(response);

                                    Popup = formDiv.dialog({
                                        autoOpen: true,
                                        resizable: false,
                                        title: 'Fill Daily Detail',
                                        height: 310,
                                        width: 500,
                                        close: function () {
                                            Popup.dialog('destroy').remove();
                                        }

                                    });
                                });
                        }

                    function PopupForm2(url) {
                        var formDiv = $('<div/>');
                        $.get(url)
                            .done(function (response) {
                                formDiv.html(response);

                                Popup = formDiv.dialog({
                                    autoOpen: true,
                                    resizable: false,
                                    title: 'Select Meal Time',
                                    height: 225,
                                    width: 185,
                                    close: function () {
                                        Popup.dialog('destroy').remove();
                                    }

                                });
                            });
                    }

                        function SubmitForm(form) {
                            $.validator.unobtrusive.parse(form);
                            if ($(form).valid()) {
                                $.ajax({
                                    type: "POST",
                                    url: form.action,
                                    data: $(form).serialize(),
                                    success: function (data) {
                                        if (data.success) {
                                            Popup.dialog('close');
                                            dataTable.ajax.reload();

                                            $.notify(data.message, {
                                                globalPosition: "top center",
                                                className: "success"
                                            })
                                        }
                                    }
                                });
                            }
                            return false;
                        }


                </script>
            }

        </div>
    </div>
</div>
