﻿@model E_Nutriton.Models.tbl_disease
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="form-group">
    @Html.DisplayNameFor(model => model.name_disease) :
    @Html.DisplayFor(model => model.name_disease)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.energy) :
    @Html.DisplayFor(model => model.energy)
</div>
@using (Html.BeginForm("Select", "SelectDisease", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(Model => Model.id_disease)
    <div class="form-group">
        <input type="submit" value="Select Disease" class="btn btn-primary" />

    </div>
}