﻿@model E_Nutriton.Models.tbl_advice
@{
    ViewBag.Title = "Advice";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title">Add Advice </h1>
        </div>
        <div class="margin-bottom-15">
            <a class="btn btn-default" href="@Url.Content("~/ListPatient/Select/" + @Session["IdHasingPatient"].ToString())">Back</a>
        </div>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id_advice)
                @Html.HiddenFor(model => model.id_nutritionist)
                @Html.HiddenFor(model => model.id_daily)
                <form>
                    @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == false)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-warning"></i> <strong>Error! </strong> @ViewBag.Message
                        </div>
                    }
                    else if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.Status) == true)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-check-circle"></i> <strong>Success! </strong>@ViewBag.Message
                        </div>
                    }

                    <div class="profile-section">
                        <div class="clearfix">
                            <!-- LEFT SECTION -->
                            <div class="left">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.advice, new { @class = "form-control", rows = "3" })
                                    @Html.ValidationMessageFor(model => model.advice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <p class="margin-top-15">
                            <button type="submit" class="btn btn-primary">Sumbit</button> &nbsp;&nbsp;

                        </p>
                    </div>
                </form>
            }
            <!-- END MY PROFILE -->
            <!-- ACCOUNT -->
        </div>
    </div>