﻿@model IEnumerable<E_Nutriton.Models.tbl_meal>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}

<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">

        <!-- SOCIAL -->
        <div class="dashboard-section no-margin">
            <div class="section-heading clearfix">
                <h2 class="section-title">Detail Meal</h2>
            </div>
            <div class="section-heading clearfix">
                <a class="btn btn-primary" href="@Url.Content("~/ListPatient/Select/" + @Session["IdHasingPatient"].ToString())">Back to Meal</a>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-warning"></i> @ViewBag.Message
                </div>
            }
            <div class="panel-content">

                <div class="row">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-6">
                            <p class="metric-inline"><i class="lnr lnr-dinner"></i> @Html.DisplayFor(modelItem => item.total_energy_meal) <span>@Html.DisplayFor(modelItem => item.meal_type)</span></p>
                            <p class="metric-inline">
                                @Html.ActionLink("List Food", "ListFood", new { id = item.id_meal }, new { @class = "btn btn-primary" })
                            </p>
                        </div>

                    }
                </div>

            </div>
        </div>
        <!-- END SOCIAL -->

    </div>
</div>
<!--
<div class="modal fade" data-keyboard="false" tabindex="1" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

        </div>
    </div>
</div>
-->
<!-- END MAIN CONTENT -->
