﻿@model IEnumerable<E_Nutriton.Models.tbl_patient>
    @{
    ViewBag.Title = "List Patient";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
    }

    <div id="main-content">
        <div class="container-fluid">
            <div class="section-heading">
                <h1 class="page-title">Your List Patient </h1>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gender)
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Height
                    </th>
                    <th>
                        Ideal Weight
                    </th>
                    <th>
                        Condition
                    </th>
                    <th>
                        symptoms
                    </th>
                    <th>
                        Total Max Energy 
                    </th>
                    
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.first_name)   @Html.DisplayFor(modelItem => item.last_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ideal_weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.symptoms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_max_energy)
                    </td>
                    <td>
                        <span class="btn btn-default">@Html.ActionLink("Select", "Select", new { id = item.id_hashing })</span>
                    </td>
                </tr>
                }

            </table>

        </div>
        <!--untuk popup-->
        <div class="modal fade" data-keyboard="false" tabindex="1" id="loginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
