﻿@model IEnumerable<E_Nutriton.Models.vw_list_detail_food>
@{
    ViewBag.Title = "Detail Food";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}


<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading clearfix">
            <a class="btn btn-primary" href="@Url.Content("~/ListPatient/Detail/" + @Session["IdHasingDaily"].ToString())">Back</a>
        </div>
        <br />
        <table class="table">
            <tr>
                <th>
                    Name Food
                </th>
                <th>
                    Energy
                </th>
                <th>
                    Carbohydrate
                </th>
                <th>
                    Protein
                </th>
                <th>
                    Fat
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name_food)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.energy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.carbohydrate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.protein)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fat)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
