﻿@model IEnumerable<E_Nutriton.Models.tbl_daily>
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_LayoutNutritionist.cshtml";
}
<!-- MAIN CONTENT -->
<div id="main-content">
    <div class="container-fluid">

        <br />
        <table class="table">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Weight Daily
                </th>
                <th>
                    Complaints Disease
                </th>
                <th>
                    Total Energy Daily
                </th>
                <th>
                    Description
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.daily_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weight_daily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complaints_disease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_energy_daily)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <span class="btn btn-default"> @Html.ActionLink("Detail Food", "Detail", new { id = item.id_hashing })</span>
                    <span class="btn btn-default"> @Html.ActionLink("Advice", "Advice", new { id = item.id_hashing })</span>
                </td>

            </tr>
            }

        </table>
    </div>
</div>